MERCADO_PAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MP_WEBHOOK_URL=https://us-central1-seu-projeto.cloudfunctions.net/mercadoPagoWebhook
APP_URL=https://seu-site.com
MP_WEBHOOK_SECRET=gere_uma_string_aleatoria
