MERCADO_PAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MP_ENVIRONMENT=sandbox
MP_WEBHOOK_SECRET=SEU_WEBHOOK_SECRET_AQUI
APP_URL=http://localhost:5173
FIREBASE_PROJECT_ID=selectio-1f022
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccount.local.json
MERCADO_PAGO_SANDBOX_HOST=127.0.0.1
MERCADO_PAGO_SANDBOX_PORT=8787
